[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
	branch = for_gaussian_splatting
[submodule "submodules/shntr-360-diff-gaussian-rasterization"]
	path = submodules/shntr-360-diff-gaussian-rasterization
	url = https://github.com/ShntrIto/shntr-360-diff-gaussian-rasterization.git
	
[submodule "submodules/shntr-diff-gaussian-rasterization"]
	path = submodules/shntr-diff-gaussian-rasterization
	url = https://github.com/ShntrIto/shntr-diff-gaussian-rasterization.git
[submodule "shntr-diff-gaussian-rasterization"]
	path = shntr-diff-gaussian-rasterization
	url = https://github.com/ShntrIto/shntr-diff-gaussian-rasterization.git
